<h1><%= title @wine_monitor.name.try(:html_safe) %></h1>
<h3>价格信息</h3>

<%= content_tag :dl,class: 'dl-horizontal' do %>
  <%= d @wine_monitor, :current_price, ' 元' %>
  <%= d @wine_monitor, :fit_price, ' 元' %>
  <%= d @wine_monitor, :min_price, ' 元' %>
  <% if @wine_monitor.norm and @wine_monitor.norm > 0 %>
    <%= d @wine_monitor, :norm, ' mL' %>
    <%= d @wine_monitor, :price_per_liter, ' 元/L' %>
    <%= d @wine_monitor, :min_price_per_liter, ' 元/L' %>
  <% end -%>
  <%= d @wine_monitor, :event_string %>
  <dt>分类</dt>
  <dd>
  <ul class="inline">
    <% @wine_monitor.categories.each do |category| %>
      <li><%= link_to category, category_wine_monitors_path(category), target: '_blank' %></li>
    <% end -%>
  </ul>
  </dd>
  <dt>&nbsp;</dt>
  <dd>
    <%= button_to '访问', go_path(@wine_monitor), class: 'btn btn-primary' %>
    <% if current_user %>
      <%= button_to '设置监视器', new_user_monitor_path(wine_monitor_id: @wine_monitor), method: :get, remote: true, class: 'btn btn-primary' %>
    <% else %>
      <%= render "application/login", warn: '监视酒价、设置邮件提醒' %>
    <% end %>
  </dd>
<% end -%>

<% unless @wine_monitor.description.blank? %>
  <h3>详细介绍</h3>
  <div class="well">
    <%= @wine_monitor.description.try(:html_safe) %>
  </div>
<% end -%>

<% if @wine_monitor.wine_prices.any? %>
  <h3>历史价格</h3>
  <ul class="unstyled bb mb10">
    <% @wine_monitor.wine_prices.recent.each do |wine_price| %>
      <li><%= link_to "#{wine_price.current_price}/#{wine_price.tag_price}", go_path(wine_price) %>(<%= '%1.1f' % (10 * wine_price.current_price.to_f / wine_price.tag_price.to_f) %>折)<div class="pull-right">(开始于<%= wine_price.started_at %><%= wine_price.finished_at ? ",截止于#{wine_price.finished_at}" : "至今" %>)</div></li>
    <% end -%>
  </ul>
  <div class="clearfix"></div>
<% end -%>

<%= render "comments/all", parent: @wine_monitor %>

<script type="text/javascript">
  $('#wine_prices_history a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
