<h1><%= title @wine_monitor.name.try(:html_safe) %></h1>
<h3>价格信息</h3>

<%= content_tag :dl,class: 'dl-horizontal' do %>
  <%= d @wine_monitor, :current_price %>
  <%= d @wine_monitor, :fit_price %>
  <%= d @wine_monitor, :min_price %>
  <dt>规格</dt>
  <dd>
  <%= @wine_monitor.norm %> ml
  </dd>
<% end -%>

<% unless @wine_monitor.description.blank? %>
  <h3>详细介绍</h3>
  <div class="well">
    <%= @wine_monitor.description.try(:html_safe) %>
  </div>
<% end -%>

<% if @wine_monitor.wine_prices.any? %>
  <h3>历史价格</h3>
  <ul class="unstyled bb mb10">
    <% @wine_monitor.wine_prices.recent.each do |wine_price| %>
      <li><%= link_to "#{wine_price.current_price}/#{wine_price.tag_price}", go_path(wine_price) %>(<%= '%1.1f' % (10 * wine_price.current_price.to_f / wine_price.tag_price.to_f) %>折)<div class="pull-right">(开始于<%= wine_price.started_at %><%= wine_price.finished_at ? ",截止于#{wine_price.finished_at}" : "至今" %>)</div></li>
    <% end -%>
  </ul>
  <div class="clearfix"></div>
<% end -%>

<%= render "comments/all", parent: @wine_monitor %>

<script type="text/javascript">
  $('#wine_prices_history a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
