<div class="list-div" data-time="<%= wine.updated_at.to_i %>">
  <div class="pull-left">
    <%= link_to wine, title: wine.name do %>
      <%= upload_image_tag wine.image, wine.name, :list %>
    <% end %>
  </div>
  <div class="pull-left list-detail"><h4><%=link_to wine.name.try(:block,150), wine,target: '_blank', title: wine.name %></h4>
    <dl class="dl-horizontal">
      <%= d wine, :current_price %>
      <%= d wine, :min_price %>
      <%= d wine, :price_per_liter %>
      <%= d wine, :min_price_per_liter %>
      <% if wine.introduction || wine.description.try(:block,150) %>
        <dt>简介</dt>
        <dd><%= wine.introduction || wine.description.try(:block,150) %></dd>
      <% end %>
    </dl>
  </div>
  <div class="clearfix"></div>
</div>

