<h1><%= @wine.name %></h1>
<div class="well">
  <%= @wine.description %>
</div>

<h2>价格信息</h2>

<%= content_tag :dl,class: 'dl-horizontal' do %>
  <%= d @wine, :min_price %>
  <%= d @wine, :current_price %>
  <%= d @wine, :fix_price %>
<% end -%>
