<h1><%= title @wine.name %></h1>
<div class="well">
  <%= @wine.description %>
</div>

<h3>价格信息</h3>

<%= content_tag :dl,class: 'dl-horizontal' do %>
  <%#= d @wine, :current_price %>
  <%= d @wine, :fit_price %>
  <%= d @wine, :min_price %>
  <dt>当前最便宜价格</dt>
  <dd><%= link_to @cheapest.current_price, go_path(@cheapest, lib: @cheapest.lib) %></dd>
<% end -%>

<% unless @wine_monitor_groups.blank? %>
  <h3>历史价格</h3>
  <ul class="nav nav-tabs" id="wine_prices_history">
    <% index = 0 %>
    <% @wine_monitor_groups.each do |lib, wine_monitors| %>
      <li class="<%= 'active' if index == 0 %>"><a href="#<%= lib %>" data-toggle="tab"><%= t('website.'+ lib.downcase) %></a></li>
      <% index += 1 %>
    <% end -%>
  </ul>

  <% index = 0 %>
  <div class="tab-content">
    <% @wine_monitor_groups.each do |lib, wine_monitors| %>
      <div class="tab-pane <%= 'active' if index == 0 %>" id="<%= lib %>">
        <% wine_monitors.group_by(&:norm).each do |norm,norm_wine_monitors| %>
          <h4><%= norm ? norm.to_s + 'ml' : '默认规格' %></h4>
          <% norm_wine_monitors.each do |wine_monitor| %>
            <ul class="unstyled bb mb10">
              <li><%= link_to wine_monitor.name, go_path(wine_monitor, lib: wine_monitor.lib) %><%=  "(已下架)" if wine_monitor.finished_at %><div class="pull-right"><%= wine_monitor.current_price %>元&nbsp;<%= link_to '历史详情', wine_monitor %></div></li>
            </ul>
          <% end -%>
        <% end -%>
      </div>
      <% index += 1 %>
    <% end -%>
  </div>
<% end -%>

<%= render "comments/all", parent: @wine %>

<script type="text/javascript">
  $('#wine_prices_history a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
